<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture -->
            <img src="profile-picture.jpg" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <!-- Profile Information -->
            <h1>Jaya Katare</h1>
            <p>Web Developer</p>
            <p>Location: Gothenburg, Sweden</p>
            <p>Email: jk@example.com</p>
            <p>Phone: (046) 555-5555</p>
            <p>About Me: I'm a web developer passionate about creating great web experiences.</p>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS (jQuery and Popper.js required) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>